table, th, td {
    border: 1px solid black;
    color: blueviolet;
    background-color : beige;

}
th{
    color: brown;
}
h1{
    color: red;
}
p,ul{
    color: azure;
}
h2{
    color: black;
}
input[type=text], input[type=password] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 454px;

}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
span.token{
    float: right;
}
body{
   
    width: 500px;
    border: 3px solid grey;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    
  }
 
  a{
    text-decoration: none;
  }
  .bg-img {
    /* The image used */
    background-image: url("chase.jpg");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
 